
<h1>Family Name: <%= @house.family_name %></h1>
<p>House ID: <%= @house.id %></p>
<p>Homeowners Associtation Member: <%= @house.hos_member %></p>
<p>Number of parking spaces: <%= @house.parking_spaces %></p>
<p>Neighborhood Name: <%= @house.neighborhood.name %></p>
<p>Neighborhood ID: <%= @house.neighborhood_id %></p>
<p>Date listing created: <%= @house.created_at %></p>
<p>Date listing last updated: <%= @house.updated_at %></p>
<%= link_to "Update House Information", "/houses/#{@house.id}/edit" %>
