<h1><%= @client.name %></h1>
<p>recent_visit: <%= @client.recent_visit %></p>
<p>required_visits_per_year: <%= @client.required_visits_per_year %></p>
<p>contractor_id: <%= @client.contractor_id %></p>
<p>Created: <%= @client.created_at %></p>
<p>Last update: <%= @client.updated_at %></p>
<!-- <p><%= @client.contractor.name %></p> -->
