<h1><%= @contractor.name %></h1>
<p>Licence Status: <%= @contractor.licensed %></p>
<p>Service Cost: <%= @contractor.service_cost %></p>
<p>Service area: <%= @contractor.service_area %></p>
<p>Created: <%= @contractor.created_at %></p>
<p>Last update: <%= @contractor.updated_at %></p>
