<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <%= link_to "Neighborhood Index", '/neighborhoods#index' %>
      <%= link_to "Houses Index", '/houses#index' %>
      <%= link_to "Client List", '/clients#index' %>
      <%= link_to "Contractor List", '/contractors#index' %>
    </nav>

    <%= yield %>
  </body>
</html>
